<ul class="icons inline-list">
	<li class="kp kp-Points"></li>
	<li class="kp kp-Address"></li>
	<li class="kp kp-Bold"></li>
	<li class="kp kp-Burger"></li>
	<li class="kp kp-Cart"></li>
	<li class="kp kp-Chocolate"></li>
	<li class="kp kp-Circle-Dash"></li>
	<li class="kp kp-Contrast"></li>
	<li class="kp kp-Crop"></li>
	<li class="kp kp-Cross"></li>
	<li class="kp kp-Cross-Arrow-Position"></li>
	<li class="kp kp-Danger"></li>
	<li class="kp kp-Diamond"></li>
	<li class="kp kp-Double-Down-Arrow"></li>
	<li class="kp kp-Double-Right-Arrow"></li>
	<li class="kp kp-Down-Direction"></li>
	<li class="kp kp-Download"></li>
	<li class="kp kp-Drag-zone"></li>
	<li class="kp kp-Eye"></li>
	<li class="kp kp-Flip"></li>
	<li class="kp kp-Grab-hand"></li>
	<li class="kp kp-Information"></li>
	<li class="kp kp-Italic"></li>
	<li class="kp kp-KokoCoin"></li>
	<li class="kp kp-Left-Direction"></li>
	<li class="kp kp-Locker"></li>
	<li class="kp kp-Message"></li>
	<li class="kp kp-Minus"></li>
	<li class="kp kp-Notification"></li>
	<li class="kp kp-Pencil"></li>
	<li class="kp kp-Phone"></li>
	<li class="kp kp-Play"></li>
	<li class="kp kp-Plus"></li>
	<li class="kp kp-Print"></li>
	<li class="kp kp-Question"></li>
	<li class="kp kp-Replay"></li>
	<li class="kp kp-Right-Arrow"></li>
	<li class="kp kp-Right-Direction"></li>
	<li class="kp kp-Search"></li>
	<li class="kp kp-Setting"></li>
	<li class="kp kp-Share"></li>
	<li class="kp kp-Square-Dash"></li>
	<li class="kp kp-Star"></li>
	<li class="kp kp-Sun"></li>
	<li class="kp kp-Validation"></li>
</ul>