<ul class="sg-colors">
	<li>
		<span class="sg-swatch kp-bg-dark-1"></span>
		<span class="sg-label">#000000</span>
	</li>
	<li>
		<span class="sg-swatch kp-bg-dark-2"></span>
		<span class="sg-label">#18191A</span>
	</li>
	<li>
		<span class="sg-swatch  kp-bg-dark-3"></span>
		<span class="sg-label">#1F2021</span>
	</li>
	<li>
		<span class="sg-swatch  kp-bg-dark-4"></span>
		<span class="sg-label">#2D2E2E</span>
	</li>
	<li>
		<span class="sg-swatch  kp-bg-dark-5"></span>
		<span class="sg-label">#676769</span>
	</li>
</ul>
