
<ul class="sg-colors">
	<li>
		<span class="sg-swatch kp-bg-orange-1"></span>
		<span class="sg-label">#BA6045</span>
	</li>
	<li>
		<span class="sg-swatch kp-bg-orange-2"></span>
		<span class="sg-label">#FF8360</span>
	</li>
	<li>
		<span class="sg-swatch kp-bg-orange-3"></span>
		<span class="sg-label">#FFA48B</span>
	</li>
	<li>
		<span class="sg-swatch kp-bg-orange-4"></span>
		<span class="sg-label">#FFBBA8</span>
	</li>
	<li>
		<span class="sg-swatch kp-bg-orange-5"></span>
		<span class="sg-label">#FFF3F0</span>
	</li>
</ul>