<ul class="sg-colors">
	<li>
		<span class="sg-swatch kp-bg-green-1"></span>
		<span class="sg-label">#3AA68E</span>
	</li>
	<li>
		<span class="sg-swatch kp-bg-green-2"></span>
		<span class="sg-label">#50E3C2</span>
	</li>
	<li>
		<span class="sg-swatch kp-bg-green-3"></span>
		<span class="sg-label">#6FE8CD</span>
	</li>
	<li>
		<span class="sg-swatch kp-bg-green-4"></span>
		<span class="sg-label">#9FEFDD</span>
	</li>
	<li>
		<span class="sg-swatch kp-bg-green-5"></span>
		<span class="sg-label">#EFFCF9</span>
	</li>
</ul>