<ul class="sg-colors">
	<li>
		<span class="sg-swatch kp-bg-blue-1"></span>
		<span class="sg-label">#3E57B8</span>
	</li>
	<li>
		<span class="sg-swatch kp-bg-blue-2"></span>
		<span class="sg-label">#5677FC</span>
	</li>
	<li>
		<span class="sg-swatch kp-bg-blue-3"></span>
		<span class="sg-label">#849CFC</span>
	</li>
	<li>
		<span class="sg-swatch kp-bg-blue-4"></span>
		<span class="sg-label">#A2B3FD</span>
	</li>
	<li>
		<span class="sg-swatch kp-bg-blue-5"></span>
		<span class="sg-label">#EFF2FE</span>
	</li>
</ul>