<ul class="sg-colors">
	<li>
		<span class="sg-swatch kp-bg-light-1"></span>
		<span class="sg-label">#B4B5B8</span>
	</li>
	<li>
		<span class="sg-swatch kp-bg-light-2"></span>
		<span class="sg-label">#E1E2E6</span>
	</li>
	<li>
		<span class="sg-swatch kp-bg-light-3"></span>
		<span class="sg-label">#ECEDF1</span>
	</li>
	<li>
		<span class="sg-swatch kp-bg-light-4"></span>
		<span class="sg-label">#F7F8FC</span>
	</li>
	<li>
		<span class="sg-swatch kp-bg-light-5"></span>
		<span class="sg-label">#FFFFFF</span>
	</li>
</ul>