<ul class="sg-colors">
	<li>
		<span class="sg-swatch kp-bg-purple-1"></span>
		<span class="sg-label">#610F9C</span>
	</li>
	<li>
		<span class="sg-swatch kp-bg-purple-2"></span>
		<span class="sg-label">#9816F4</span>
	</li>
	<li>
		<span class="sg-swatch kp-bg-purple-3"></span>
		<span class="sg-label">#BD6AF8</span>
	</li>
	<li>
		<span class="sg-swatch kp-bg-purple-4"></span>
		<span class="sg-label">#D095FA</span>
	</li>
	<li>
		<span class="sg-swatch kp-bg-purple-5"></span>
		<span class="sg-label">#F5E9FE</span>
	</li>
</ul>

