<ul class="sg-colors">
	<li>
		<span class="sg-swatch kp-bg-red-1"></span>
		<span class="sg-label">#B73F4D</span>
	</li>
	<li>
		<span class="sg-swatch kp-bg-red-2"></span>
		<span class="sg-label">#FB5669</span>
	</li>
	<li>
		<span class="sg-swatch kp-bg-red-3"></span>
		<span class="sg-label">#FC8491</span>
	</li>
	<li>
		<span class="sg-swatch kp-bg-red-4"></span>
		<span class="sg-label">#FCA2AD</span>
	</li>
	<li>
		<span class="sg-swatch kp-bg-red-5"></span>
		<span class="sg-label">#FEEFF1</span>
	</li>
</ul>